<div class="bg-eggplant-gradient min-h-screen text-eggplant-900">
  <div class="flex flex-col justify-center items-center min-h-screen">
    <div class="flex flex-col justify-center bg-white shadow rounded-lg w-96 px-12 py-6">
      {{{ await $slots.main() }}}
    </div>
    {{{ await $slots.footer() }}}
  </div>
</div>
