@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "baloo";
  src: url("../fonts/baloo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

up-progress-bar {
  @apply bg-yellow-500;
}

a:focus, input:focus, textarea:focus, button:focus {
  @apply outline;
}

a {
  @apply text-yellow-500 hover:text-yellow-600;
}

a:hover, a.up-current {
  @apply underline;
}

.button {
  @apply bg-yellow-500 text-eggplant-900 font-bold text-lg shadow-button rounded font-display px-5 py-2 inline-flex items-center justify-center;

  /**
   * Not a big fan of Tailwind transition and transforms. Hence writing custom css
   */
  transform: translateY(0);
  transition: background-color 50ms ease-out, box-shadow 50ms ease-out,
    transform 100ms cubic-bezier(0.3, 0.6, 0.8, 1.25);
}

.button:hover {
  @apply text-eggplant-900 shadow-raised-button no-underline;
  transform: translateY(-1px);
}

.text-shadow-gray-900 {
  text-shadow: 0 0.2em 0.5em rgb(0 0 0 / 50%), 0 5px 0 rgb(0 0 0 / 75%);
}

.text-shadow-gray-500 {
  text-shadow: 0 3px 0 rgb(0 0 0 / 75%);
}
